* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

input {
    font-size: 14px;
}

body {
    line-height: 1.6;
    color: #E0E0E0;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    background-color: #1A1A1D;
}

h1, h2 {
    color: #FFF;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #BBBBBB;
}

input {
    border: 1px solid #444;
    padding: 12px;
    outline: none;
    background-color: #2C2C34;
    color: #FFF;
    border-radius: 4px;
    transition: border-color .3s ease, background-color .3s ease;
}

input:focus {
    border-color: #FF416C;
    background-color: #333;
}

button {
    cursor: pointer;
    padding: 12px;
    background: linear-gradient(90deg, #FF416C, #FF4B2B);
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease, box-shadow .3s ease;
    border-radius: 8px;
}
button:hover {
    box-shadow: 0px 4px 10px rgba(255, 75, 43, 0.3); 
}

button:disabled {
    cursor: default;
    background: #FF4B2B94;
}

.header {
    background: #2C2C34;
    text-align: center;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 3.5px solid; /* Thicker line */
    border-image: linear-gradient(to right, #FF416C, #FF4B2B); /* Gradient effect */
    border-image-slice: 1;
}


.header h1 {
    margin-bottom: 0;
}

.back-button {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(90deg, #FF416C, #FF4B2B); 
    border: none;
    padding: 10px 20px;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background .3s ease, transform .3s ease, box-shadow .3s ease;
}

.back-button:hover {
    background: linear-gradient(90deg, #FF4B2B, #FF416C); 
    box-shadow: 0px 4px 10px rgba(255, 75, 43, 0.3); 
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: calc(100vh - 80px); 
    padding: 16px;
}

.security-widgets-container {
    display: flex;
    flex-direction: column; 
    gap: 24px; 
    width: 35%; 
}

.security-widget {
    background: #3B3B45;
    padding: 24px;
    border-radius: 8px;
    color: #E0E0E0;
    box-shadow: 0px 0px 17px 1px #1D1F26;
    transition: box-shadow .3s ease, transform .3s ease;
    text-align: center;
}

.security-widget:hover {
    box-shadow: 0px 0px 20px 3px #FF4B2B;
    transform: scale(1.02);
}

.security-widget h2 {
    margin-bottom: 16px;
}

.security-widget p {
    font-size: 24px;
    font-weight: bold;
    color: #FFF;
}
