* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

input {
    font-size: 14px;
}

body {
    line-height: 1.6;
    color: #E0E0E0;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    background-color: #1A1A1D;
}

h1, h2 {
    color: #FFF;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #BBBBBB;
}

input {
    border: 1px solid #444;
    padding: 12px;
    outline: none;
    background-color: #2C2C34;
    color: #FFF;
    border-radius: 4px;
    transition: border-color .3s ease, background-color .3s ease;
    width: 100%;
}

input:focus {
    border-color: #FF416C;
    background-color: #333;
}

button {
    cursor: pointer;
    padding: 12px;
    background: linear-gradient(90deg, #FF416C, #FF4B2B);
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease, box-shadow .3s ease;
    border-radius: 8px;
    width: auto;
}

button:hover {
    box-shadow: 0px 4px 10px rgba(255, 75, 43, 0.3); 
}

button:disabled {
    cursor: default;
    background: #FF4B2B94;
}

.header {
    background: #2C2C34;
    text-align: center;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 3.5px solid;
    border-image: linear-gradient(to right, #FF416C, #FF4B2B);
    border-image-slice: 1;
}

.header h1 {
    margin-bottom: 0;
    font-size: 1.8rem;
    flex-grow: 1;
    text-align: center;
}

.back-button {
    position: absolute;
    left: 16px;
    background: linear-gradient(90deg, #FF416C, #FF4B2B); 
    border: none;
    padding: 10px 20px;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background .3s ease, transform .3s ease, box-shadow .3s ease;
    width: auto;
    margin-right: 10px;
}

.back-button:hover {
    background: linear-gradient(90deg, #FF4B2B, #FF416C); 
    box-shadow: 0px 4px 10px rgba(255, 75, 43, 0.3); 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); 
    padding: 16px;
    flex-direction: column;
    gap: 32px;
}

.security-widgets-container {
    display: flex;
    flex-direction: column; 
    gap: 32px; 
    width: 100%; 
    max-width: 500px;
    margin: 0 auto; 
}

.security-widget {
    background: #3B3B45;
    padding: 32px;
    border-radius: 8px;
    color: #E0E0E0;
    box-shadow: 0px 0px 17px 1px #1D1F26;
    transition: box-shadow .3s ease, transform .3s ease;
    text-align: center;
    width: 100%;
    max-width: 450px;
}

.security-widget:hover {
    box-shadow: 0px 0px 20px 3px #FF4B2B;
    transform: scale(1.02);
}

.security-widget h2 {
    margin-bottom: 16px;
    font-size: 1.8rem;
}

.security-widget p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFF;
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
        padding: 10px;
    }

    .header h1 {
        font-size: 1.5rem;
        margin-bottom: 8px;
        text-align: center;
    }

    .back-button {
        position: relative;
        left: 0;
        margin: 0 auto 8px auto;
        display: block;
        width: auto;
    }
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        gap: 48px;
    }

    .security-widgets-container {
        width: 80%;
    }

    .security-widget p {
        font-size: 1.8rem;
    }
}

@media (min-width: 1024px) {
    .header h1 {
        font-size: 2.4rem;
    }

    .security-widgets-container {
        width: 70%;
    }

    .security-widget p {
        font-size: 2rem;
    }
}
